.group {
    display:flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: center;
    text-align: center;
}

.avatars {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}







